/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Work Sans";
  font-size: 14px;
  align-items: center;
  justify-content: center;
  background: #fffbf5;
}

main {
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

header {
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  font-weight: 800;
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.project {
  display: flex;
  margin: auto;
}

.category {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  gap: 0.62rem;
}

.category li {
  display: flex;
  height: 100%;
  padding: 9px 28px;
  border-radius: 60px;
  border: 1px #1d6154 solid;
  justify-content: center;
  color: #1d6154;

  text-align: center;
  font-family: Syne;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.category li:hover {
  background: #207a69;
  border-color: #207a69;
  cursor: pointer;
  color: white;
}

.category .active {
  background: #1d6154;
  color: white;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login {
  width: 33%;
  height: 100%;
  margin: auto;
}
.login > * {
  text-align: center;
  font-weight: 700;
}
.login h2 {
  margin-bottom: 20px;
}
.login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.login .field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.login .title {
  margin: 2em 0 1em 0;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.login .err-email,
.err-password {
  display: none;
  color: #f40000;

  height: 100%;

  font-family: "Work Sans";
  font-size: 0.825rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

input[type="button"] {
  box-shadow: none;
  height: fit-content;
  background-color: white;
  width: fit-content;

  margin: auto;
  font-family: "Work Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}

input[type="button"]:hover {
  cursor: pointer;
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

input[type="submit"]:hover {
  background-color: #207a69;
  cursor: pointer;
}

footer {
  width: 100%;
  background-color: white;
  margin: 0;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.edit {
  display: none;
  align-items: center;
  gap: 0.625rem;
  margin: 0;
}

.edit .clickable {
  cursor: pointer;
}

.edit.banner {
  background: #000;
  justify-content: center;
  width: 100%;
  padding: 1.25rem 0 1.25rem 0;
}

.edit.project {
  height: 30px;
  margin-bottom: 1rem;
}

.edit .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.edit .title p {
  color: #000000;
  text-align: center;
  font-family: "Work Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.edit.banner p {
  color: #fff;
}

.edit .icon {
  width: 0.97375rem;
  height: 0.97375rem;
  color: #000000;
  fill: #000000;
}

.edit.banner .icon {
  fill: #fff;
}

.project {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 39.375rem;
  height: 41.875rem;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 0.625rem;
  background: #fff;

  display: none;
  padding: 1.625rem 1.875rem 3.5rem 1.875rem;
  flex-direction: column;
  align-items: center;
  gap: 2.3125rem;
}

.modal-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.625rem;
  width: 100%;
}

.modal-header h3 {
  color: #000;
  text-align: center;
  font-family: "Work Sans";
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal-header .icon {
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.1875rem;
  height: 100%;
  overflow: hidden;
}

.modal-body .gallery-modal {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 0.625rem;
  height: 22.85644rem;
  width: 430.55px;
  flex-shrink: 0;
}

.gallery-modal .card {
  display: flex;
  position: relative;
  width: 4.88269rem;
  height: 6.505rem;
  align-items: flex-start;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 5px;
  overflow: hidden;
}

.gallery-modal .card img {
  flex: 1 0 0;
  align-self: stretch;
}

.gallery-modal .card .delete {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 0.3125rem;
  top: 0.3125rem;

  border-radius: 0.125rem;
  background: #000;
}

.gallery-modal .card .delete img {
  width: 0.5625rem;
  height: 0.6875rem;
}

.modal-footer {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  flex: 1 0 0;
  align-self: stretch;
  max-height: 2.8125rem;
}

.modal-footer .line {
  background-color: #b3b3b3;
  width: 430.55px;
  height: 1px;
}

.modal-footer input[type="submit"] {
  margin: 0;
  width: 14.8125rem;
  height: 2.25rem;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);

  color: #fff;
  text-align: center;
  font-family: Syne;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
